.index-logo {
    width: 50%; 
    height: auto; 
    margin-left: 25%; 
    margin-top: 30%; 
}

.button-area {
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 20%;
    
    position: relative;
}

.button-style {
    width: 80%;
    height: auto;
    
    font-family: "helvetica Neue";
    font-size: 7.5vw;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 10% 0 10% 7.5%;
    padding: 0.5vw 0.25vw;
    border-width: 2px;
    border-color: white;
    box-shadow: 0 3px 10px gray;
    
    display: block;
}

.term-frame {
    width: 100%;
    height: 90vh;
    border-width: 3px 0 3px 0;
    border-color: green;
    border-style: solid;
    left: 0;
    
    position: fixed;
}

.agree-button {
    width: 100%;
    height: auto;
    background-color: green;
    font-family: "helvetica Neue";
    font-size: 5vw;
    color: white;
    text-align: center;
    text-decoration: none;
    
    margin: 0;
    padding: 0.5em 0.5em;
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: 5px 0 10px gray; 
}
