h1 {
    font-family: "Helvetica Neue";
    font-size: 10vw;
}
.mainArea {
    width: 100%;
    height: auto;
    
    margin-top: 25%;
    
    display: inline-block;
}

.text-email {
    font-family: "Helvetica Neue";
    font-size: 7.5vw;
    color: green;
    
    display: inline-block;
}

.sign-up-email {
    width: 74.5vw;
    height: auto;
    border-bottom-color: green;
    border-bottom-width: 2px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    
    font-family: "helvetica neue";
    font-size: 5vw;
    color: green;
    
    padding: 0;
    margin: 0;
}

.get-token {
    width: auto;
    height: auto;
    padding: 0.5em 2em 0.5em 2em;
    margin: 0;
    
    background-color: green;
    
    font-family: "helvetica neue";
    font-size: 5vw;
    color: white;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    
    margin-top: 20%;
    
    box-shadow: 0 3px 10px gray;
}