h1 {
    font-family: "Helvetica Neue";
    font-size: 10vw;
}
.mainArea {
    width: 100%;
    height: auto;
    
    
    display: inline-block;
}

.text-email {
    font-family: "Helvetica Neue";
    font-size: 7.5vw;
    color: green;
    
    display: inline-block;
}

.sign-up-email {
    width: 95vw;
    height: auto;
    border-bottom-color: green;
    border-bottom-width: 2px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    
    font-family: "helvetica neue";
    font-size: 5vw;
    color: green;
    
    padding: 0;
    margin: 0;
}

.button-style-su {
    width: auto;
    height: auto;
    padding: 0.5em 2em 0.5em 2em;
    margin: 0;
    
    background-color: green;
    
    font-family: "helvetica neue";
    font-size: 5vw;
    color: white;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    
    margin-top: 20%;
    
    box-shadow: 0 3px 10px gray;
}

.add-more {
    font-family: "helvetica neue";
    font-size: 5vw;
    color: green;
    text-decoration: none;
    font-weight: bold;
    
    padding-top: 2.5vw;
    
    display: block;
    
    text-shadow: 0 1px 2px gray;
}